/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Estilos para la tabla de clientes */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #555;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para los formularios */
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type='submit'] {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type='button'] {
    background-color: #f44336;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para el mensaje de carga */
.loading-message {
    margin: 20px;
    font-style: italic;
    color: #888;
}

.editar,
.eliminar {
    background-color: #ff8c00;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.eliminar {
    background-color: #dc3545;
}

.editar:hover,
.eliminar:hover {
    background-color: #ff6f00;
}